<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.chenckin.mapper.TgNewsMapper">

    <resultMap type="TgNews" id="TgNewsResult">
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="statu" column="statu"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTgNewsVo">
        select id, content, statu, create_time, update_time
        from t_tg_news
    </sql>

    <select id="selectTgNewsList" parameterType="TgNews" resultMap="TgNewsResult">
        <include refid="selectTgNewsVo"/>
        <where>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="statu != null ">and statu = #{statu}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="selectTgNewsById" parameterType="Long" resultMap="TgNewsResult">
        <include refid="selectTgNewsVo"/>
        where id = #{id}
    </select>


    <select id="selectTgNewsByNow" parameterType="Long" resultMap="TgNewsResult">
        SELECT * FROM t_tg_news
        WHERE DATE(create_time) = CURDATE();
    </select>



    <select id="selectTgNewsByStatu" resultMap="TgNewsResult">

        SELECT * FROM t_tg_news
        WHERE statu =${statu};


    </select>

    <insert id="insertTgNews" parameterType="TgNews" useGeneratedKeys="true" keyProperty="id">
        insert into t_tg_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="statu != null">statu,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="statu != null">#{statu},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTgNews" parameterType="TgNews">
        update t_tg_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="statu != null">statu = #{statu},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateTgNewsList">
        <foreach separator=";" index="index" item="item" collection="tgNewsList" close="" open="">
            update t_tg_news set statu = #{item.statu}, update_time = sysdate()
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteTgNewsById" parameterType="Long">
        delete
        from t_tg_news
        where id = #{id}
    </delete>

    <delete id="deleteTgNewsByIds" parameterType="String">
        delete from t_tg_news where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>